# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter repo-specific
/bin/cache/
/bin/internal/bootstrap.bat
/bin/internal/bootstrap.sh
/bin/mingit/
/dev/benchmarks/mega_gallery/
/dev/bots/.recipe_deps
/dev/bots/android_tools/
/dev/devicelab/ABresults*.json
/dev/docs/doc/
/dev/docs/flutter.docs.zip
/dev/docs/lib/
/dev/docs/pubspec.yaml
/dev/integration_tests/**/xcuserdata
/dev/integration_tests/**/Pods
/packages/flutter/coverage/
version
analysis_benchmark.json

# packages file containing multi-root paths
.packages.generated

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
.packages
.pub-preload-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Android related
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS
**/Flutter/ephemeral/
**/Pods/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral
**/xcuserdata/

# Windows
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake

# Linux
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugins.cmake

# Coverage
coverage/

# Symbols
app.*.symbols

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!/dev/ci/**/Gemfile.lock
/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
/ios/Runner/Runner-Bridging-Header.h
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
/test/widget_test.dart
/windows/runner/Runner.rc
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
/macos/Runner/Configs/AppInfo.xcconfig
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
/windows/runner/flutter_window.h
/windows/.gitignore
/macos/Runner/Base.lproj/MainMenu.xib
/web/icons/Icon-192.png
/ios/RunnerTests/RunnerTests.swift
/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
/android/app/src/main/res/values-night/styles.xml
/web/icons/Icon-512.png
/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/ios/Flutter/Debug.xcconfig
/windows/runner/flutter_window.cpp
/ios/Flutter/AppFrameworkInfo.plist
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
/windows/runner/utils.cpp
/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
/android/gradle.properties
/ios/Runner/Base.lproj/Main.storyboard
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
/ios/Podfile
/android/app/build.gradle.kts
/linux/runner/CMakeLists.txt
/windows/runner/resources/app_icon.ico
/windows/runner/win32_window.cpp
/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/macos/Runner/Configs/Warnings.xcconfig
/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
/android/app/src/profile/AndroidManifest.xml
/android/app/src/main/kotlin/com/example/solidui/MainActivity.kt
/windows/CMakeLists.txt
/android/.gitignore
/ios/Runner.xcodeproj/project.pbxproj
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/web/icons/Icon-maskable-192.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
/windows/runner/CMakeLists.txt
/linux/runner/main.cc
/linux/.gitignore
/macos/Flutter/Flutter-Release.xcconfig
/macos/Runner/Configs/Debug.xcconfig
/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/windows/runner/win32_window.h
/macos/.gitignore
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
/windows/runner/resource.h
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
/android/app/src/main/AndroidManifest.xml
/macos/Podfile
/macos/Runner/MainFlutterWindow.swift
/ios/Runner.xcworkspace/contents.xcworkspacedata
/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
/windows/flutter/CMakeLists.txt
/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/android/gradle/wrapper/gradle-wrapper.properties
/ios/Runner/Info.plist
/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/windows/runner/utils.h
/android/settings.gradle.kts
/android/app/src/main/res/drawable-v21/launch_background.xml
/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/ios/.gitignore
/macos/Runner/Configs/Release.xcconfig
/lib/main.dart
/windows/runner/main.cpp
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
/macos/Runner/Info.plist
/ios/Runner/AppDelegate.swift
/ios/Runner/Base.lproj/LaunchScreen.storyboard
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
/.metadata
/windows/runner/runner.exe.manifest
/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/linux/flutter/CMakeLists.txt
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
/android/app/src/debug/AndroidManifest.xml
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
/linux/runner/my_application.h
/linux/runner/my_application.cc
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
/web/manifest.json
/android/build.gradle.kts
/macos/Runner/AppDelegate.swift
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
/android/app/src/main/res/values/styles.xml
/web/icons/Icon-maskable-512.png
/ios/Flutter/Release.xcconfig
/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/macos/RunnerTests/RunnerTests.swift
/android/app/src/main/res/drawable/launch_background.xml
/macos/Flutter/Flutter-Debug.xcconfig
/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/macos/Runner.xcworkspace/contents.xcworkspacedata
/linux/CMakeLists.txt
